h1 {
  color: purple;
}

.main-container {
  height:100vh;
}

.game-board-container{
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}


#game-board {
  width: 600px;
  height: 600px;
  
  display:flex;  
  flex-wrap:wrap;
}

.box {
  flex-basis:33%;
  background: white;
  border: 1px green dashed;
}


.box:hover {
  background: red;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.box:hover::after {
  font-size: 62px;
  color: black;
  position: absolute;
}

@media all and (max-width: 650px) {
  #game-board{
   width: 300px;
   height: 300px;
 }
 .box {
  flex-basis:32%;
}
}