h1 {
  color: purple;
}

div {
  height: 150px;
  width: 150px;
}

.toprow {
  display: inline-block;
  border-bottom: 5px solid black;
}

.middlerow {
  display: inline-block;
  border-bottom: 5px solid black;
}

.bottomrow {
  display: inline-block;
}

.leftcolumn {
  border-right: 5px solid black;
}

.middlecolumn {
  border-right: 5px solid black;
}